.root{
    display: flex;
    justify-content: space-between;
}

.root > div{
    padding: 15px;
    height: fit-content;
    border-radius: 15px;
    -webkit-box-shadow: 2px -1px 28px -1px rgba(0,0,0,0.57); 
    box-shadow: 2px -1px 28px -1px rgba(0,0,0,0.57);
    box-sizing: border-box;
    margin-bottom: 10vh;
    
}

.mainInfoBlock{
    width: 65%;
}